@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
  font-family: "Sora", sans-serif;

}

.border-text {
  -webkit-text-stroke-width: 1px;
  /* Width of the border */
  -webkit-text-stroke-color: black;
  /* Color of the border */
}